.menuu{
  width: 100%;
  height: auto;
  
    color: rgb(3, 47, 129);
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(#c2e7ff, #9198e5);
}